<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>DemoCrazy</title>
  </head>
  <body>
    <h1>WDI Conf</h1>
    <form class="" action="/login" method="post">
      <input name="Code" value="">
      <button>Go!</button>
    </form>
  </body>
</html>
